<div id='footer'>
  <div class='row'>
    <div class='small-2 columns'>&nbsp;</div>
    <div class='small-8 columns'>
      <p class="copyright">&#169; {{ site.time | date: '%Y' }} Five Valleys Interactive, Inc.</p>
    </div>
    <div class='small-2 columns'>&nbsp;</div>
  </div>
  <div class='row'>
    <div class='small-2 columns'>&nbsp;</div>
    <div class='small-8 columns'>
      <p>Make something, preferably incorporating moving electrons.</p>
    </div>
    <div class='small-2 columns'>&nbsp;</div>
  </div>
  <div class='row'>
    <div class='small-2 columns'>&nbsp;</div>
    <div class='small-8 columns'>
      {% include social_links.html %}
    </div>
    <div class='small-2 columns'>&nbsp;</div>
  </div>
</div>

