<div id='header-bar'>

  <a href="/feed.xml">
    <img src="/images/rss-icon.png" alt="RSS Feed" title="RSS Feed" class="rss-logo">
  </a>
  <a href="{{ site.baseurl }}/">
    <img src="/images/logo.jpg" alt="MakeTronica Logo" class="logo">
  </a>
  <div class='flag'>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% include social_links.html %}
  </div>

  <div class='top-bar'>
    <div class='tob-bar-left'>
      <ul class='dropdown menu' data-dropdown-menu>
        <li>
          <a href='#'>Hivebot</a>
          <ul class='submenu menu vertical' data-submenu>
            <li><a href='/hivebot'>Details</a></li>
            <li><a href='/hivebot/charts'>Charts</a></li>
          </ul>
        </li>  
      </ul>
    </div>
  </div>
</div>
