	<!-- Twitter Cards -->
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	{% if page.seo_description %}
    <meta name="twitter:description" content="{{ page.seo_description }}">
	{% elsif page.excerpt %}
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
  {% endif %}
	<meta name="twitter:site" content="@maketronica">
	<meta name="twitter:creator" content="@maketronica">
	{% if page.image.feature %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="{{ site.url }}/images/teasers/{{ page.image.teaser }}">
	{% else %}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/images/thumbs/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">
	{% endif %}
	<!-- Open Graph -->
	<meta property="og:locale" content="en">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	{% if page.seo_description %}
    <meta property="og:description" content="{{ page.seo_description }}">
	{% elsif page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt | strip_html }}">
  {% endif %}
  <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}">
	<meta property="og:site_name" content="{{ site.title }}">
