// Palette color codes */
// Palette URL: http://paletton.com/#uid=50z0u0kcEny4G-g8ys6gfjAkXfY */

$color-primary: #BC9671;
$color-primary-light: #E0C2A4;
$color-primary-lighter: #FFECDA;
$color-primary-dark: #9C744D;
$color-primary-darker: #7F552C;

$color-secondary: #BCA571;
$color-secondary-light: #E0CEA4;
$color-secondary-lighter: #FFF4DA;
$color-secondary-dark: #9C844D;
$color-secondary-darker: #7F662C;

$color-tertiary: #BC7A71;
$color-tertiary-light: #E0ABA4;
$color-tertiary-lighter: #FFDEDA;
$color-tertiary-dark: #9C564D;
$color-tertiary-darker: #7F362C;
