
div.grovestream:empty:before {
  content: "Please wait... loading."
}

div.grovestream {
  margin-bottom: 10px;
  border: 2px solid black;
  .x-panel {
    .x-toolbar {
      display: none;
    }
  }
}

