div#chart { font: 14px Arial;}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.ord1st { stroke: red; }
.ord2nd { stroke: orange; }
.ord3rd { stroke: green; }
.ord4th { stroke: blue; }
.ord5th { stroke: indigo; }
.ord6th { stroke: violet; }

text.ord1st { fill: red; }
text.ord2nd { fill: orange; }
text.ord3rd { fill: green; }
text.ord4th { fill: blue; }
text.ord5th { fill: indigo; }
text.ord6th { fill: violet; }

#temperature-chart {
  width: 800px;
  height: 400px;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
  font-size: 16px;
  font-weight: bold;
  text-anchor: middle;
}
