div#chart { font: 14px Arial;}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
path.ord1st { stroke: red; }
path.ord2nd { stroke: orange; }
path.ord3rd { stroke: yellow; }
path.ord4th { stroke: green; }
path.ord5th { stroke: blue; }
path.ord6th { stroke: indigo; }
path.ord7th { stroke: violet; }

#temperature-chart {
  width: 800px;
  height: 400px;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
